.banner{
    box-sizing: border-box;
    padding: 106px 90px; 
    height: 690px;
    background-image: url(../../assets/img/background.jpeg);
    background-size: 100%;
    border-bottom: 10px solid gray;
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 690px; 
}

.banner .box-title{
    margin-bottom: 32px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around;
}


