.musica{
    display: flex;
    flex-direction: row;
}


.musica .bloco{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: #D9D9D9;
}

.musica .wrapper{
    display: flex;
    margin-left: 18px;
    flex-direction: column;
    justify-content: space-between;
    width: 272px;

}
.musica .musica-title{
    color: #D9D9D9;
    font-weight: 400;
    text-align: left;
}

.musica .wrapper .musica-line{
    display: inline-block;
    background-color: #D9D9D9;
    height: 1px;
    width: 100%;
    margin-top: 16px;
}

.musica .wrapper div{
    display: flex;
    justify-content: space-between;
}

.musica .wrapper div .play{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.musica .wrapper div .musictime{
    color: #D9D9D9;
    font-size: large;
}