.button-donwload{
    background-color: #EB5E28;
    color: #000000;
    font-weight: 500;
    display: inline-block;
    width: 170px;
    height: 60px;
    box-shadow: 5px 5px 10px #ffffff;
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
    transition: transform 1s, box-shadow 1s, color 1s;
    text-align: center;
    line-height: 60px;
} 

.button-donwload:hover{  
    color: #FFF;
    box-shadow: 4px 4px 100px #FFF;
    transform: scale(1.1);
}

.button-contato{
    background-color: #CCC5B9;
    color: #000000;
    font-weight: 500;
    display: inline-block;
     width: 170px;
    height: 60px;
    box-shadow: 5px 5px 10px #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    transition: transform 1s, box-shadow 1s, color 1s;
    text-align: center;
    line-height: 60px;

}

.button-contato:hover{
        color: #FFF;
    box-shadow: 4px 4px 100px #FFF;
    transform: scale(1.1);
}