.middle{
    display: flex;
    box-sizing: border-box;
    height: 720px;
    background-color: #999999;
    justify-content: center;
    padding: 44px;
    border-bottom: 10px solid black;
}

.middle .wrapper{
    margin: 81px 265px;
}
