.section{
    background-color: #999999;
    padding: 40px 20px;  
    border-bottom: 10px solid black;
}

.section.-skill{
    box-sizing: border-box;
    height: 800px;
}
.section.-skill .main-title.-second{
    margin-bottom: 50px;
    margin-top: 10px;
}
.section.-skill .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}



