.skills-tec{
    display: flex;  
    align-items: center;
    margin-top: 20px;
}

.skills-tec .icon{
    margin-right: 15px;
    width: 100px;
    height: 100px;
}

.skills-tec:nth-child(odd){
    margin-right: 100px;
}

.skills-tec:last-child{
    margin-top: 150px;
}
